@use "../../../sass/abstract/variables" as var;
@use "../../../sass/abstract/breakpoints" as media;
@use "../../../sass/components/buttons" as btn;

.feature {
  @include media.desktop {
    display: flex;
    align-items: center;
  }
  &__content {
    @include media.desktop {
      max-width: 90%;
      margin: 0 auto;
    }
    &__h2 {
      margin-bottom: var.$mb-10;
    }
    &__p {
      margin-bottom: var.$mb-30;
    }
    &__list {
      margin-bottom: var.$mb-30;
      &__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &__icon {
          font-size: 2.5rem;
          color: var.$primary-light;
        }
      }
    }
    &__btn {
      margin-bottom: var.$mb-30;
      @include media.desktop {
        margin-bottom: 0;
      }
      @include btn.button();
    }
  }
  &__poster {
    background-image: url("../../../images/Home/choose.jpg");
    background-color: hsla(171, 87%, 45%, 0.25);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: 80%;
    width: 100%;
    min-height: 500px;
    @include media.desktop{
        border-radius: 10px 0px 0px 10px;
    }
  }
}
