@use "../abstract/variables" as var;
@use '../abstract/breakpoints' as media;

.wrapper {
  padding-inline: 20px;
  @include media.desktop{
    max-width: 1300px;
    margin: 0 auto;
  }
}

.logo{
  text-transform: uppercase;
}

.subtitle {
  font-family: var.$ff-body;
  font-weight: var.$fw-700;
  color: var.$primary-light;
  font-size: var.$subtitle;
  text-transform: uppercase;
  &:hover {
    color: var.$primary-darker;
  }
}
