@use "../abstract/variables" as var;
@use "../abstract/breakpoints" as media;

.wrapper {
  padding-inline: 20px;
  @include media.desktop {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.logo {
  text-transform: uppercase;
  color: var.$white-light;
}

.subtitle {
  font-family: var.$ff-body;
  font-weight: var.$fw-700;
  color: var.$primary-light;
  font-size: var.$subtitle;
  text-transform: uppercase;
  &:hover {
    color: var.$primary-darker;
  }
}

.section {
  margin-bottom: var.$mb-80;
  @include media.tablet {
    margin-bottom: var.$mb-120;
  }
}

.read {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var.$primary-light;
  &:hover {
    position: relative;
    right: -10px;
    color: var.$primary-darker;
  }
}
