@use "../../sass/abstract/variables" as var;
@use "../../sass/components/buttons" as btn;

.free {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: hsla(171, 87%, 45%, 0.2);
  background-image: url("../../images/parallax-pic1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    &__h3 {
      margin-bottom: var.$mb-30;
    }
    &__btn {
      @include btn.button();
    }
  }
}
