$primary-light: #0fd6b9;
$primary-darker: #0c9783;
$bg-dark: #00152e;
$bg-light: #001f45;
$white: #fff;
$black: #000000;
$grey: #495c72;

$fs-h1-mobile: 2rem;
$fs-h2-mobile: 1.75rem;
$fs-h3-mobile:1.5rem;
$fs-p-mobile: 1rem;

// $fs-h1-desktop: 
// $fs-h2-desktop:
// $fs-h3-desktop:
// $fs-p-desktop:


$ff-primary: "Playfair Display", serif;
$ff-secondary: "Poppins", sans-serif;