// [Colors]

$primary-light: #0fd6b9;
$primary-darker: #0c9783;
$bg-dark: #00152e;
$bg-light: #001f45;
$white-light: #fff;
$white-dark: hsl(0, 3%, 86%);
$black: #000000;
$grey: #495c72;

// [Typography]

$fs-h1-mobile: 2rem;
$fs-h2-mobile: 1.75rem;
$fs-h3-mobile: 1.5rem;
$fs-p-mobile: 1rem;

$fs-h1-desktop: 3rem;
$fs-h2-desktop: 2.75rem;
$fs-h3-desktop: 2.5rem;
$fs-p-desktop: 1.25rem;

$btn: 1rem;
$input: 1rem;
$link: 1.10rem;
$subtitle: 1rem;

$fw-700: 700;
$fw-300: 300;

$ff-heading: "Roboto", sans-serif;
$ff-body: "Poppins", sans-serif;

// [Margins]

// Btn-border-radius
$border-radius: 5px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$transition-in-3: all 0.3s ease-in;
$transition-out-3: all 0.3s ease-out;
$transition-in-5: all 0.5s ease-in;
$transition-out-5: all 0.5s ease-in;
