// [Colors]

$primary-light: hsl(171, 87%, 45%);
$primary-darker: hsl(171, 85%, 32%);
$bg-dark: hsl(213, 100%, 9%);
$bg-light: hsl(213, 100%, 14%);
$white-light: hsl(0, 0%, 100%);
$white-dark: hsl(0, 3%, 86%);
$black: hsl(0, 0%, 0%);
$grey: hsl(212, 22%, 37%);

// [Typography]

$fs-h1-mobile: 2rem;
$fs-h2-mobile: 1.65rem;
$fs-h3-mobile: 1.15rem;
$fs-p-mobile: 1rem;

$fs-h1-desktop: 3rem;
$fs-h2-desktop: 2.25rem;
$fs-h3-desktop: 1.25rem;
$fs-p-desktop: 0.95rem;

$btn: 1rem;
$input: 1rem;
$link: 1.1rem;
$subtitle: 1rem;

$fw-700: 700;
$fw-300: 300;

$ff-heading: "Roboto", sans-serif;
$ff-body: "Poppins", sans-serif;

// [Margins]
$mb-10: 10px;
$mb-30: 30px;
$mb-80: 80px;
$mb-120: 120px;

// Btn-border-radius
$border-radius: 5px;

$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$transition-in-3: all 0.3s ease-in;
$transition-out-3: all 0.3s ease-out;
$transition-in-5: all 0.5s ease-in;
$transition-out-5: all 0.5s ease-in;
