@use "../abstract/variables" as var;

@mixin field($color,$bg-color) {
  padding: 8px 20px;
  outline: none;
  border: 0;
  color: $color;
  background-color: $bg-color;
  border-radius: var.$border-radius;
  &::placeholder {
    color: $color;
  }
}
