@use "../../sass/abstract/variables" as var;
@use "../../sass/abstract/breakpoints" as media;

.testimonials {
  background-attachment: fixed;
  background-image: url("../../images/testimonials.jpg");
  background-position: center;
  background-size: cover;
  background-color: hsla(171, 87%, 45%, 0.2);
  background-blend-mode: overlay;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  &__title {
    margin-bottom: var.$mb-80;
  }
  &__slider {
    max-width: 220px;
    @include media.tablet {
      max-width: 400px;
    }
    &__review {
      background-color: var.$bg-light;
      padding: 20px;
      border-radius: var.$border-radius-10;
      text-align: center;
      margin-inline: 20px;
      &__img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-bottom: var.$mb-30;
      }
      &__p {
        margin-bottom: var.$mb-10;
      }
      &__info {
        font-size: 1.25rem;
        @include media.tablet {
          display: flex;
          justify-content: center;
          gap: 0.25rem;
        }
        &__name {
          color: var.$white-dark;
          font-weight: 900;
        }
      }
    }
  }
}
